$pink: #ffe4e4;
$blue: #93b5e1;

@mixin base-pink {
    background-color: $pink;
}

@mixin base-blue {
    background-color: $blue;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: sans-serif;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
}
